<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Quotes Inspiration Application</title>
    </head>
    <body>
        <h1>Quotes Inspiration</h1>
        <form action="/quotes" method="post">
            <input type="text" name="name" id="name" placeholder="name" />
            <input type="text" name="quote" id="quote" placeholder="quote" />
            <button type="submit">Submit</button>
        </form>

        <h2>Favorite Quotes</h2>

        <ul class="quotes">
            <% for (const quote of quotesCollection) { %>
            <li class="quote">
                <span><%= quote.name %></span>
                <span><%= quote.quote %></span>
                <span><button class="edit">Edit</button></span>
            </li>
            <% } %>
        </ul>
        <script src="/main.js"></script>
    </body>
</html>
